@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: #262a3b;
}

*, * *, *::after, *::before {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

.subscription-form {
  width: 87.2%;
  margin: 0 auto;
  background: white;
  border-radius: 13px;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
}
.subscription-form input:not([type=submit]), .subscription-form select {
  border: none;
  border-bottom: 1px solid rgba(115, 123, 150, 0.5);
  padding-bottom: 1rem;
  padding-inline-start: 1rem;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1rem;
}
.subscription-form input:not([type=submit])::placeholder, .subscription-form select::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(115, 123, 150, 0.5);
}
.subscription-form input:not([type=submit]):focus, .subscription-form select:focus {
  outline: none;
  border-color: #5274ff;
}
.subscription-form input:not([type=submit]).error, .subscription-form select.error {
  border-color: red;
  background: url("../assets/sign-up/icon-cross.svg");
  background-position-x: calc(100% - 0.75rem);
  background-repeat: no-repeat;
}
.subscription-form .select-wrapper {
  width: 100%;
  position: relative;
}
.subscription-form .select-wrapper .select-arrow {
  position: absolute;
  top: -0.1rem;
  right: 1rem;
  transition: transform 0.3s ease;
}
.subscription-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
}
.subscription-form select .pack-label {
  color: #757c95;
}
.subscription-form input[type=submit] {
  border: none;
}
.subscription-form input[type=submit]:focus {
  outline: none;
  transform: scale(102%);
}
@media (min-width: 768px) {
  .subscription-form {
    max-width: 448px;
    padding: 2.625rem;
  }
}
@media (min-width: 1260px) {
  .subscription-form {
    max-width: 445px;
    padding: 2.625rem;
  }
}

.flip {
  transform: rotate(180deg);
}

.error-message {
  color: red;
  font-size: 0.75rem;
  transform: translateY(-1rem) translateX(1rem);
}

.button, .button--secondary-white, .button--secondary-blue, .button--primary {
  border-radius: 1.75rem;
  padding: calc(0.875rem + 3px) 2.5625rem 0.875rem 2.5625rem;
  text-decoration: none;
  width: min-content;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
}
.button:hover, .button--secondary-white:hover, .button--secondary-blue:hover, .button--primary:hover {
  cursor: pointer;
}
.button--primary {
  background: #5274ff;
  color: white;
}
.button--primary:hover {
  background: #8099ff;
}
.button--secondary-blue {
  background: rgba(82, 116, 255, 0.1526);
  color: #5274ff;
}
.button--secondary-blue:hover {
  background: rgba(128, 153, 255, 0.35);
}
.button--secondary-white {
  background: white;
  color: #5274ff;
}
.button--secondary-white:hover {
  color: #8099ff;
}

.countdown, .countdown--dark, .countdown--light {
  width: 87.2%;
  max-width: 448px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #262a3b;
  text-align: start;
}
.countdown p, .countdown--dark p, .countdown--light p {
  letter-spacing: 5px;
  line-height: 3rem;
  text-transform: uppercase;
  text-align: start;
  font-weight: 700;
}
.countdown .release-date, .countdown--dark .release-date, .countdown--light .release-date {
  color: #5274ff;
}
.countdown--light {
  color: #262a3b;
}
.countdown--light .countdown__timer > * {
  background: rgba(82, 116, 255, 0.1);
}
.countdown--light .number {
  color: #5274ff;
}
.countdown--dark {
  color: white;
}
.countdown--dark .countdown__timer > * {
  background: #343a51;
}
.countdown--dark .number {
  color: white;
}

.countdown__timer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 0.8125rem;
  margin-bottom: 2.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
}
.countdown__timer > * {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(25% - 0.8125rem);
  overflow: hidden;
  border-radius: 4px;
  padding: 0.625rem 1rem;
}
@media (min-width: 768px) {
  .countdown__timer > * {
    padding: 1rem 0.875rem;
    border-radius: 13px;
  }
}
.countdown__timer .number {
  display: block;
  padding: auto;
  transform: translateX(-2px);
  margin-bottom: -0.5rem;
  font-weight: 700;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .countdown__timer .number {
    font-size: 3.5rem;
    height: 4rem;
  }
}
.countdown__timer .label {
  line-height: 1.75rem;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .countdown__timer .label {
    font-size: 1rem;
  }
}

header {
  width: 100%;
}

.logo {
  display: block;
  width: 155px;
  padding: 2.875rem 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  header {
    width: 89.8%;
    margin: 0 auto;
  }

  .logo {
    margin: 0;
  }
}
@media (min-width: 1260px) {
  header {
    width: 77%;
    margin: 0 auto;
  }
}
body {
  background: url("../assets/home/bg-pattern-header.svg"), url("../assets/home/bg-pattern-footer.svg"), linear-gradient(to right, #FAFAFA 58%, #262a3b 58%);
  background-size: 122vw, 320vw, 100vw;
  background-position-x: center, center, center;
  background-position-y: top -170px, bottom -110px, center;
  background-repeat: no-repeat, no-repeat, repeat;
}
@media (min-width: 768px) {
  body {
    background: url("../assets/home/bg-pattern-header.svg"), url("../assets/home/bg-pattern-footer.svg"), linear-gradient(to right, #FAFAFA 55%, #262a3b 55%);
    background-size: 666px, 1454px, 100vw;
    background-position-x: right -350px, center, center;
    background-position-y: top -419px, bottom -483px, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}
@media (min-width: 1260px) {
  body {
    background: url("../assets/home/bg-pattern-header.svg"), url("../assets/home/bg-pattern-footer.svg"), linear-gradient(to right, #FAFAFA 70%, #262a3b 70%);
    background-size: 1134px, 2036px, 100vw;
    background-position-x: right -293px, left -706px, center;
    background-position-y: top -164px, bottom -819px, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  width: 77%;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  align-items: center;
  align-content: center;
  row-gap: 2.5rem;
  grid-template-areas: "intro form" "timer form";
}

.introduction__content {
  max-width: 540px;
  grid-area: intro;
  align-self: end;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
}
.introduction__content h1 {
  line-height: 4rem;
  font-size: 3.5rem;
  font-weight: 700;
}
.introduction__content p {
  color: #757c95;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.countdown--light {
  grid-area: timer;
  align-self: start;
}

.subscription-form {
  grid-area: form;
}
.subscription-form input[type=submit] {
  width: 100%;
}

/*# sourceMappingURL=signup-desktop.css.map */
