@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html {
  background: #262a3b;
}

body {
  position: relative;
  background: url("../assets/home/bg-pattern-header.svg"), url("../assets/home/bg-pattern-footer.svg"), linear-gradient(to bottom, #FAFAFA 68%, #262a3b 68%, #262a3b 150%);
  background-size: 122vw, 320vw;
  background-position-x: center, center;
  background-position-y: top -170px, bottom -110px;
  background-repeat: no-repeat, no-repeat;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Kumbh Sans", sans-serif;
}

*, * *, *::after, *::before {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

header {
  width: 100%;
}

.logo {
  display: block;
  width: 155px;
  padding: 2.875rem 0;
  margin: 0 auto;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6.25rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

.introduction {
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  gap: 4rem;
  flex-direction: column;
  flex-wrap: nowrap;
}

.introduction__img {
  width: 45.6%;
}

.introduction__content {
  width: 87.2%;
  text-align: center;
  align-items: center;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  flex-wrap: nowrap;
}
.introduction__content h1 {
  color: #262a3b;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.introduction__content p {
  color: #757c95;
  line-height: 1.625rem;
  font-size: 1rem;
  font-weight: 400;
}

.button, .button--secondary-white, .button--secondary-blue, .button--primary {
  border-radius: 1.75rem;
  padding: 0.875rem 2.5625rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}
.button--primary {
  background: #5274ff;
  color: white;
}
.button--secondary-blue {
  background: rgba(82, 116, 255, 0.1526);
  color: #5274ff;
}
.button--secondary-white {
  background: white;
  color: #5274ff;
}

.plans {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  width: 87.2%;
}

.plans__plan, .plans__plan:nth-child(2) {
  border-radius: 0.8125rem;
  background: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 0;
  color: #262a3b;
  flex-direction: column;
  flex-wrap: nowrap;
}
.plans__plan:nth-child(2) {
  color: white;
  background: url("../assets/home/bg-pattern-pricing.svg"), #5274ff;
  background-size: 260%;
  background-position-x: center;
  background-position-y: bottom;
}
.plans__plan:nth-child(2) .button, .plans__plan:nth-child(2) .button--primary, .plans__plan:nth-child(2) .button--secondary-blue, .plans__plan:nth-child(2) .button--secondary-white {
  background: white;
  color: #5274ff;
}
.plans__plan:nth-child(2) .plans__perks {
  color: inherit;
  opacity: 0.75;
}

.plans__plan-name {
  font-size: 1.25rem;
  font-weight: 700;
}

.plans__plan-pricing {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
}

.plans__perks {
  list-style: none;
  text-align: center;
  line-height: 1.75rem;
  color: #757c95;
  padding: 0;
  margin-top: 1.5rem;
}
.plans__perks > li:not(:last-child) {
  margin-bottom: 1rem;
}

.countdown {
  width: 87.2%;
  color: white;
  text-align: center;
  padding-bottom: 6.25rem;
}
.countdown p {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 1.125rem;
  line-height: 3rem;
  font-weight: 700;
}
.countdown .release-date {
  color: #5274ff;
}
.countdown a {
  margin-bottom: 6.25rem;
}

.countdown__timer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 0.8125rem;
  margin-bottom: 2.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
}
.countdown__timer > * {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(25% - 0.8125rem);
  overflow: hidden;
  border-radius: 4px;
  background: #343a51;
  padding: 0.625rem 1rem;
}
.countdown__timer .number {
  display: block;
  line-height: 3rem;
  transform: translateX(-2px);
  margin-bottom: -0.5rem;
  font-weight: 700;
  font-size: 2rem;
}
.countdown__timer .label {
  line-height: 1.75rem;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
}

/*# sourceMappingURL=style.css.map */
