@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Colors
$blue: hsl(228, 100%, 66%);
$light-blue: hsl(228, 100%, 75%);
$dark-blue: hsl(228, 22%, 26%);
$bluish-black: hsl(229, 22%, 19%);
$bluish-grey: hsl(227, 13%, 52%);
$soft-red: hsl(0, 83%, 65%);

$main-font: 'Kumbh Sans', sans-serif;

html {
    // Body background is offset 170px towards the
    // -y position, so there's an empty space at the
    // bottom of the document. 
    background: $bluish-black;
}

body {
    position: relative;
    background: url("../assets/home/bg-pattern-header.svg"), url("../assets/home/bg-pattern-footer.svg"), linear-gradient(to bottom, #FAFAFA 68%, $bluish-black 68%, $bluish-black 150%);
    background: {
        size: 122vw, 320vw;
        position-x: center, center;
        position-y: top -170px, bottom -110px;
        repeat: no-repeat, no-repeat;
    }
    margin: 0;
    padding: 0;
    font: {
        size: 1em;
        family: $main-font;
    }
}
*, * *, *::after, *::before {
    box-sizing: border-box;
}
h1, p {
    margin: 0;
}

header {
    width: 100%;
}

.logo {
    display: block;
    width: 155px;
    padding: 2.875rem 0;
    margin: 0 auto;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6.25rem;
    flex: {
        direction: column;
        wrap: nowrap;
    }
}

.introduction {
    display: flex;
    align-items: center;
    padding-top: 2.5rem;
    gap: 4rem;
    flex: {
        direction: column;
        wrap: nowrap;
    }
}

.introduction__img {
    width: 45.6%;
}

.introduction__content {
    width: 87.2%;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 1.5rem;
    flex: {
        direction: column;
        wrap: nowrap;
    }

    h1 {
        color: $bluish-black;
        line-height: 3rem;
        font: {
            size: 2.5rem;
            weight: 700;
        }
    }

    p {

        color: $bluish-grey;
        line-height: 1.625rem;
        font: {
            size: 1rem;
            weight: 400;
        }
    }
}

.button {
    border-radius: 1.75rem;
    padding: 0.875rem 2.5625rem;
    text-decoration: none;
    font: {
        size: 1rem;
        weight: 700;
    }

    &--primary {
        @extend .button;
        background: $blue;
        color: white;
    }

    &--secondary-blue {
        @extend .button;
        background: hsla(228, 100%, 66%, 15.26%);
        color: $blue;
    }

    &--secondary-white {
        @extend .button;
        background: white;
        color: $blue;
    }
}

.plans {
    display: flex;
    gap: 2rem;
    flex: {
        direction: column;
        wrap: nowrap;
    }

    list-style: none;
    padding: 0;
    width: 87.2%;
}

.plans__plan {
    border-radius: 0.8125rem;
    background: white;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 0;
    color: $bluish-black;
    flex: {
        direction: column;
        wrap: nowrap;
    }

    &:nth-child(2) {
        @extend .plans__plan;
        color: white;
        background: url("../assets/home/bg-pattern-pricing.svg"), $blue;
        background: {
            size: 260%;
            position-x: center;
            position-y: bottom;
        }

        .button {
            background: white;
            color: $blue;
        }

        .plans__perks {
            color: inherit;
            opacity: 0.75;
        }
    }
}

.plans__plan-name {
    font: {
        size: 1.25rem;
        weight: 700;
    }
}

.plans__plan-pricing {
    display: block;
    text-align: center;
    font: {
        weight: 700;
        size: 3.5rem;
    }
}

.plans__perks {
    list-style: none;
    text-align: center;
    line-height: 1.75rem;
    color: $bluish-grey;
    padding: 0;
    margin-top: 1.5rem;

    & > li:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.countdown {
    width: 87.2%;
    color: white;
    text-align: center;
    padding-bottom: 6.25rem;

    p {
        text: {
            transform: uppercase;
        }

        letter-spacing: 5px;
        margin-bottom: 1.125rem;
        line-height: 3rem;
        font: {
            weight: 700;
        }
    }

    .release-date {
        color: $blue;
    }

    a {
        margin-bottom: 6.25rem;
    }
}

.countdown__timer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 0.8125rem;
    margin-bottom: 2.5rem;
    flex: {
        direction: row;
        wrap: nowrap;
    }

    & > * {
        flex: {
            grow: 0;
            shrink: 0;
            basis: calc(25% - 0.8125rem);
        }

        overflow: hidden;
        border-radius: 4px;
        background: $dark-blue;
        padding: 0.625rem 1rem;
    }

    & .number {
        display: block;
        line-height: 3rem;
        transform: translateX(-2px);
        margin-bottom: -0.5rem;
        font: {
            weight: 700;
            size: 2rem;
        }
    }

    & .label {
        line-height: 1.75rem;
        opacity: 0.5;
        font: {
            weight: 700;
            size: 0.75rem;
        }
    }
}