
// -- CONFIGURABLES -- // 
$top-color: #FAFAFA !default;
$bottom-color: hsl(229, 22%, 19%) !default;
$orientation: to bottom !default;

$mobile-bg-breakpoint: 58% !default;

$tablet-width: 768px !default;
$tablet-bg-breakpoint: 55% !default;

$desktop-width: 1260px !default;
$desktop-bg-breakpoint: 66% !default;

body {
    background: 
        url("../assets/home/bg-pattern-header.svg"), 
        url("../assets/home/bg-pattern-footer.svg"),
        linear-gradient($orientation, $top-color $mobile-bg-breakpoint, $bottom-color $mobile-bg-breakpoint);
    background: {
        size: 122vw, 320vw, 100vw;
        position-x: center, center, center;
        position-y: top -170px, bottom -110px, center;
        repeat: no-repeat, no-repeat, repeat;
    }

    @media (min-width: $tablet-width) {
        background: 
            url("../assets/home/bg-pattern-header.svg"), 
            url("../assets/home/bg-pattern-footer.svg"), 
            linear-gradient($orientation, $top-color $tablet-bg-breakpoint, $bottom-color $tablet-bg-breakpoint);
        background: {
            size: 666px, 1454px, 100vw;
            position-x: right -350px, center, center;
            position-y: top -419px, bottom -483px, center;
            repeat: no-repeat, no-repeat, no-repeat;
        }
    }

    @media (min-width: $desktop-width) {
        background: 
            url("../assets/home/bg-pattern-header.svg"), 
            url("../assets/home/bg-pattern-footer.svg"), 
            linear-gradient($orientation, $top-color $desktop-bg-breakpoint, $bottom-color $desktop-bg-breakpoint);
        background: {
            size: 1134px, 2036px, 100vw;
            position-x: right -293px, left -706px, center;
            position-y: top -164px, bottom -819px, center;
            repeat: no-repeat, no-repeat, no-repeat;
        }
    }
}