@use "../abstract/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// -- CONFIGURABLES -- // 
$tablet-width: 768px !default;
$desktop-width: 1260px !default;

$primary-color: $blue;
$font: 'Kumbh Sans' !default;
$text: hsl(227, 13%, 52%) !default;

.subscription-form {
    width: 87.2%;
    margin: 0 auto;
    background: white;
    border-radius: 13px;
    padding: 1.5rem;

    display: flex;
    gap: 1.5rem;
    flex: {
        direction: column;
        wrap: nowrap;
    }

    input:not([type="submit"]), select {
        border: none;
        border-bottom: 1px solid hsla(227, 14%, 52%, 0.5);
        padding-bottom: 1rem;
        padding-inline-start: 1rem;
        font-family: $font, sans-serif;
        line-height: 1rem;

        &::placeholder {
            font: {
                size: 1rem;
                weight: 400;
            }

            color: hsla(227, 14%, 52%, 0.5);
        }

        &:focus {
            outline: none;
            border-color: $primary-color;
        }

        &.error {
            border-color: red;
            background: url("../assets/sign-up/icon-cross.svg");
            background: {
                position-x: calc(100% - 0.75rem);
                repeat: no-repeat;
            }
        }
    }

    .select-wrapper {
        width: 100%;
        position: relative;

        .select-arrow {
            position: absolute;
            top: -0.1rem;
            right: 1rem;
            transition: transform 0.3s ease;
        }
    }

    select {
        // Remove default arrow
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        width: 100%;

        font: {
            size: 1rem;
            weight: 700;
        }

        .pack-label {
            color: $text;
        }
    }

    input[type="submit"] {
        border: none;

        &:focus {
            outline: none;
            transform: scale(102%);
        }
    }

    @media (min-width: $tablet-width) {
        max-width: 448px;
        padding: 2.625rem;
    }

    @media (min-width: $desktop-width) {
        max-width: 445px;
        padding: 2.625rem;
    }
}

.flip {
    transform: rotate(180deg);
}

.error-message {
    color: red;
    font-size: 0.75rem;
    transform: translateY(-1rem) translateX(1rem);
}